<h1>Virtual Post-It Notes</h1>
<img class="images_home" alt="post-its" src="./post_its.jpg"/>
<p><%= link_to 'New Note', new_note_path %></p>
<p><%= link_to 'All Notes', notes_path %></p>
<%# <% binding.pry %>
